<% layout("/layouts/boilerplate") %>
<body>
    <h2>edit your listing</h2>
    <form method="post" action="/listings/<%= list._id %>?_method=put">
        <input name="listing[title]" type="text" value="<%= list.title %>"><br><br>
        <textarea name="listing[description]" type="text"><%= list.description %></textarea><br><br>
        <input name="listing[image]" type="text" value="<%= list.image %>"><br><br>
        <input name="listing[price]" type="number" value="<%= list.price %>"><br><br>
        <input name="listing[location]" type="text" value="<%= list.location %>"><br><br>
        <input name="listing[country]" type="text" value="<%= list.country %>"><br><br>
        <button>update list</button>
    </form>
</body>
