<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">

            <body>
                <h3 class="mt-2 mb-2">
                    <%= list.title %>
                </h3>
                <div class="card">
                    <img src="<%= list.image %>>" class="card-img-top show-img mb-2" alt="listing_image" />
                    <div class="card-body">
                        <p class="card-text">
                            <p>owner: <i><b><%= list.owner.username %></b></i></p> 
                            <%= list.description %> <br>
                                &#2547; <%= list.price %> <br>
                                    <%= list.location %> <br>
                                        <%= list.country %>
                        </p>
                    </div>
                </div>
            <% if(currUser && currUser._id.equals(list.owner._id)){ %>
                <div class="show-btn-container col-2 mb-3">
                    <a class="btn btn-dark" href="/listings/<%= list._id %>/edit">edit</a>
                    <form method="post" action="/listings/<%= list._id %>?_method=delete">
                        <button class="btn btn-dark castom-btn">delete</button>
                </div>
                </form>
                <% } %>
            </body>
            <hr>
        </div>
        <div class="col-8 offset-2 mb-3">       
            <% if(currUser){ %>
            <form method="post" action="/listings/<%= list._id %>/reviews" novalidate class="needs-validation">
            <h4>Leave a review</h4>
            <label class="form-label"  for="rating">rating</label>
            <input type="range" class="form-range" min="1" max="5" name="review[rating]">
            <div class="mb-3">
                <label for="comment" class="form-label">comment</label>
            <textarea class="form-control" name="review[comment]"id="" rows="5" cols="50" required></textarea>
            <div class="invalid-feedback">comment required</div>
            </div>
            <button class="btn btn-outline-dark mb-2">submit</button>
            <hr>
        </form>
         <% } %>
        <p><b>All reviews</b></p>
        <div class="row">
            <% for(lists of list.reviews){ %>
                <div class="card border solid col-5 ms-3 pb-2">
                   <div class="card-body">
                    <h5 class="card-title">@<%= lists.author.username %></h5>
                    <p class="card-text"><%= lists.comment %></p>
                    <p class="card-text"><%= lists.rating %> star</p>
                   </div>
                   <form method="post" action="/listings/<%= list._id %>/reviews/<%= lists._id %>?_method=delete">
                    <button class="btn btn-sm btn-dark">delete</button>
                   </form>
                </div>
                <% } %>
        </div>
        </div>
    </div>