<% layout("/layouts/boilerplate") %>
<body>
    <h3><%= list.title %></h3>
    <p><%= list.description %></p>
    <p><a href="<%= list.image %>" target="_blank">img</a></p>
    <p> &#2547; <%= list.price.toLocaleString("en-BD") %></p>
    <p><%= list.location %></p>
    <p><%= list.country %></p>
    <a href="/listings/<%= list._id %>/edit">edit listing</a><br><br>
    <form method="post" action="/listings/<%= list._id %>?_method=delete">
        <button>delete this listing</button>
    </form>
</body>
